.box {
    border: 2px solid black;
    background-color: rgb(205, 195, 50);
    color: red;
    width: 700px;
}

.box h3{
    margin-left: 400px;
}
#it {
    font-style: italic;
}

#ob {
    font-style: oblique;
}

.f {
    margin-top: 40px;
    border: 2px solid black;
    width: 700px;
}

.girls {
    border-bottom: 4px solid red;
    width: 200px;
}
#g {
    float: right;

}


.boys {
    margin-bottom: 30px;
    border-bottom: 4.5px solid rgb(16, 16, 77);
    width: 220px;
}

.lines {
    border: 2px solid black;
    margin-top: 40px;
    width: 700px;
}

.lines #over {
    text-decoration: overline;
}

.lines #through {
    text-decoration: line-through;
}

.lines #under { 
    text-decoration: underline;
}

.pc {
    margin-top: 40px;
    border: 2px solid black;
    width: 700px;
}

.pc ul li {
    letter-spacing: 5px;
}

.border-style {
    margin-top: 40px;
    border: 2px solid black;
    width: 700px;
}

#dotted {
    border: 4px rgb(39, 159, 184) dotted;
}
#dashed {
    border: 4px rgb(39, 159, 184) dashed;
}
#solid {
    border: 4px rgb(39, 159, 184) solid;
}
#double {
    border: 4px rgb(39, 159, 184) double;
}
#groove {
    border: 4px rgb(39, 159, 184) groove;
}
#ridge {
    border: 4px rgb(39, 159, 184) ridge;
}
#inset {
    border: 4px rgb(39, 159, 184) inset;
}
#outset {
    border: 4px rgb(39, 159, 184) outset;
}
#none {
    border: 4px rgb(39, 159, 184) none;
}
#hidden {
    border: 4px rgb(39, 159, 184) hidden;
}
#mix {
    border-style:dotted dashed solid double;
    border-color: rgb(39, 159, 184);
    border-width: 4px;
}

.shapes {
    border: 2px solid black;
    width: 700px;
    margin-top: 40px;
}

.red-back-border {
    border: 2px solid black;
    border-radius: 25px;
    background-color: red;
    width: 250px;
    height: 150px;
    text-align: center;
    margin:5px;
    margin-bottom: 20px;
}
.white-border {
    margin: 5px;
    border: 2px solid black;
    border-radius: 25px;
    width: 250px;
    height: 150px;
    text-align: center;
}
.background-border {
    margin: 5px;
    border: 2px solid black;
    border-radius: 25px;
    width: 250px;
    height: 150px;
    text-align: center;
    background-image: url(https://picsum.photos/200);
}

.shapes2 {
    border: 2px solid black;
    width: 700px;
    margin-top: 40px;
}

.four-val {
    margin: 10px;
    width: 250px;
    height: 150px;
    background-color: rgb(67, 24, 24);
    border-radius: 15px 50px 30px 5px;
}

.three-val {
    margin: 10px;
    width: 250px;
    height: 150px;
    background-color: rgb(67, 24, 24);
    border-radius: 15px 50px 30px;
}
.two-val {
    margin: 10px;
    width: 250px;
    height: 150px;
    background-color: rgb(67, 24, 24);
    border-radius: 15px 50px;
}
.elipse {
    margin: 10px;
    width: 250px;
    height: 150px;
    background-color: rgb(67, 24, 24);
    border-radius: 50px/15px;
}
.elipse2 {
    margin: 10px;
    width: 250px;
    height: 150px;
    background-color: rgb(67, 24, 24);
    border-radius: 15px/50px
}
.elipse3 {
    margin: 10px;
    width: 250px;
    height: 150px;
    background-color: rgb(67, 24, 24);
    border-radius: 50%;
}