.content-1 {
    border: 4px solid black;
    width: 650px;
    height: 500px;
    margin: 40px;
}

table {
    width: 500px;
    margin: 10%;
    border: 3px solid black;
}

table tr td{
    border: 3px solid black;
    width: 40px;
    height: 40px;
}


.dad-div {
    margin: 40px;
    height: 550px;
    width: 650px;
    background-color: grey;
    border: 4px dotted black;
}
.child-div {
    margin: 40px;
    border: 4px hidden;
    height: 450px;
    width: 550px;
    background-color: yellow;
}
.child-div-2 {
    margin: 40px;
    background-color: grey;
    height: 350px;
    border: 4px hidden;
    width: 450px;
}
.child-div-3 {
    margin: 40px;
    height: 250px;
    width: 350px;
    border: 4px dotted black;
}