body {
    background-color: rgb(235, 234, 234);
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* NavBar */
nav {
    background-color: rgba(209, 207, 207, 0.532);
    display: block;
}
.logo-img img {
    margin-left: 1%;
    margin-top: 2%;
    width: 270px;
    height: 60px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transform: translateY(-30px);
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
  }

li a:hover {
    background-color: rgba(105, 104, 104, 0.712);
}

.about {
    background-color: rgb(138, 135, 135);
    height: 330px;
    width: auto;
    border-top: 1px solid rgb(9, 104, 172);
    border-bottom: 1px solid rgb(9, 104, 172);
}

.about .info {
    color: white;
    height: 210px;
    width: 400px;
    float: left;
    border-right: 1px solid rgb(9, 104, 172);
    margin: 2%;
    margin-left: 170px;
}
.info p {
    margin: 6%;
    font-size: large;   
}

.about .foto {
    height: 300px;
    width: 300px;
    float: right;
    border: 1px solid rgb(9, 104, 172);
    margin: 1%;
    margin-right: 300px;
    border-radius: 50%;
}
#name {
    color: rgb(47, 85, 211);
}
#sname {
    color: rgb(24, 83, 131);
}

#img1 {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

/* HardWare */
.hardware {
    width: 100%;
    height: 1000px;
    background-image: url("img/1630680.jpg");
}

/* Hardware components */

.cpu img{
    height: 150px;
    width: 200px;
}
.gpu img{
    height: 150px;
    width: 500;
    margin-top: 500px;
    float: left;
}
.mboard img{
    height: 150px;
    width: 200px;
    float: right;
    margin-top: 200px;
}

#cputxt {
    margin: -110px;
    margin-left: 230px;
    width: 800px;
}

#gputxt {
    margin-top: 500px;
    margin-left: 30px;
    width: 500px;
    float: left;
}

#mboardtxt {
    float: right;
    margin-top: 170px;
    margin-right: 100px;
    width: 500px;
}

/* map */

.map {
    width: 70%;
    margin: auto;
}

.map path {
    fill: #2e2e2e;
    stroke: #ffffff;
    stroke-width: 4px;
    transition: fill 0.3s;
}

.map :hover {
    fill: #000;
}


/* popup */
.map .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0, 7);
    z-index: 1;
    display: none;
}

.map .content1 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: rgb(139, 199, 223);
    border: 2px solid black;
    width: 750px;
    height: 300;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.map .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.map .active .overlay {
    display: block;
}

.map .active .content1 {
    transition: all 400ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

/* Footer */
footer {
    height: 70px;
    width: auto;
    float: bottom;
    border-top: 1px solid rgb(9, 104, 172);
}

.footer_info p{
   margin-left: 100px;
   margin-top: -60px;
}

#inf {
    color: grey;
    float: right;
    padding: 20px;
}

#footer_img {
    width: 75px;
    height: 65px;
    margin: 0.4%;
}

